<link rel="stylesheet" href="http://www.epfl.ch/styles/dynastyle.php">
<link rel="stylesheet" href="/payonline/payonline.css">

<script language="JavaScript" type="text/JavaScript">
<!--

function showHelp (helpURL) 
{
  window.open(helpURL,'helpwindow','width=330,height=800,menubar=no,scrollbars=yes');
}
//-->
</script>
