</div> <!-- main-content -->

<br>

<div class="clear"></div> 

<div id="footer"> 
  <ul> 
	<li><a href="mailto:1234@epfl.ch">Contact</a></li> 
	<li><a href="http://www.epfl.ch/accessibility.en.shtml">Accessibility</a></li> 
	<li><a href="https://mediacom.epfl.ch/disclaimer">Disclaimer</a></li> 
	<li class="copyright">&copy; 2010 EPFL all rights reserved</li> 
	
 
  </ul> 
</div> 

</body>
</html>