<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

<title>CFF Tickets</title>

<!-- web2010 EPFL -->
<link rel="stylesheet" href="https://www.epfl.ch/css/epfl.css">
<script type="text/javascript" src="https://www.epfl.ch/js/jquery-epfl.min.js"></script>
<script type="text/javascript">jQuery.noConflict();</script>
<script type="text/javascript" src="https://www.epfl.ch/js/globalnav.js"></script>

<link rel="stylesheet" href="/cff.css">
<script src="/cff.js" type="text/javascript"></script>

</head>

</head>

<body <TMPL_VAR NAME="sOnLoad">>

<noscript>
<p  style="text-align:center ; color:white;background-color:red;">
<br>
Action links on this page need JavaScript ; please enable it on your browser before continuing.
<br>Ask for support in case of troubles
</p>
</noscript>

<TMPL_INCLUDE NAME="header.en.html">

<!-- breadcrumbs -->
<ul id="breadcrumbs" title="Navigation dans l'arborescence de l'EPFL">
  <li><a href="https://www.epfl.ch/" title="EPFL Page d'accueil">EPFL</a></li>
  <li ><a href="http://voyages.epfl.ch/" title="Accred">Voyages</a></li>
  <li class="last">CFF Tickets</li>
</ul>

<ul id="languages" title="Language">
  <li class="current">English</li>
  <li><a href="<TMPL_VAR NAME="sPathMe">/priv?lang=fr">Français</a></li>
</ul>

<div id="main-content"> 

<h1>Online CFF tickets order</h1>

<div  id="content" class="content">

