</div>			<!-- content	-->

<div  class="right-col">

   <table width="100%" cellpadding="3" cellspacing="0" border="0">
   <tr valign="top" align="left">
   <td>

   <!-- start links menu -->
   <table width="100%" border="0" cellspacing="2" cellpadding="0">
   <tr>
   <td bgcolor="FF0000">
   <img src="http://www.epfl.ch/tools/label.php?s=14&label=USEFUL+LINKS&BG=FF0000">
   </td>
   </tr>
   <tr>
    <td>

     <br> 
<!--
     <a href="http://jahia-prod.epfl.ch/files/content/sites/travel/files/Documents/TicketshopAideEPFL.pdf"
     target="_blank">Ticketshop : on line help</a><br>
-->
     <a href="http://www.sbb.ch/en/business-travel/businesstravel/questions.html"
     target="_blank">Ticketshop : user's guide</a><br> 
     
<!--
     <a href="http://ditdevsrv4.epfl.ch/cff/docs/Remboursement.pdf"
     target="_blank">Rebate Form</a><br> 
-->

	<a href="http://www.sbb.ch/en/business-travel/businesstravel/questions/erstattungsantrag-onlinetickets.html">Request for a refund of unused Swiss OnlineTickets</a><br>
	<a href="http://www.sbb.ch/en/business-travel/businesstravel/questions/refund-mobile-tickets.html">Request for a refund of unused Swiss MobileTickets</a><br>
	<a href="https://www.sbb.ch/en/business-travel/businesstravel/questions.html?WT.ac=linklistteaser-ts-faq-b2b-default">Refunds for unused international OnlineTickets</b>

    </td>
   </tr>
   </table>
   <!-- end links menu -->

   </tr>
   </table>

<hr>

<h4>FAQs</h4>
<li><b>Where do I find information about  the reimbursement of train tickets?</b></li><br>
<ul>The information on the reimbursement of train tickets purchased via CFF (Ticketshop or Brig call centre) can be found on the page  <a href=http://voyages.epfl.ch/ticketshop-en target=_blank><b>Ticketshop</b></a> on the <b>voyages.epfl.ch</b> website.
</ul>
<hr>
<li><b>My TicketShop account is locked? What can I do?</b></li>
<ul>Your TicketShop account is locked after several login failures. <b>This problem is not related to
your Gaspar/Tequila identification. No need to change your Gaspar password.</b> <br>
Please contact <a href=mailto:1234@epfl.ch><b>the Service Desk</b></a>.
</ul>
<hr>
<li><b>I am accreditor in my unit but I can't control the right <i>billets CFF</i> </b></li>
<ul>
The right <b>billets CFF</b> is managed only by people having the <b>administrative manager</b> role
</ul>
<hr>
<li><b>I have the accreditation manager role but I can't control the right <i>billets
CFF</i></b></li>
<ul>People with accreditation manager role can give the <b>administrative manager</b> role which 
controls the <b>billets CFF</b> right
</ul>

</div>