<TMPL_INCLUDE NAME="head.tmpl">

<TMPL_IF NAME=sMsg>
	<p><TMPL_VAR NAME=sMsg></p>
	<hr>
</TMPL_IF>

<p>Please choose a <b>Financial Center</b> and a <b>fund</b>:</p>
<form id="form1" name="form1" method="post" action="<TMPL_VAR NAME=sFormaction>">
  <table width="100%" border="0">
    <tr height="40" valign="bottom">
      <td align="right">Travel nb.</td>
      <td><input type="text" name="sNoVoyage"></td>
    </tr>
    <tr>
      <td width="14%"><div align="right">Financial Center</div></td>
      <td width="86%"><TMPL_VAR NAME=sCF></td>
    </tr>
    <tr height="30" valign="top">
      <td><div align="right">Fund</div></td>
      <td><TMPL_VAR NAME=sFonds></td>
    </tr>
  </table>
<p>
  <input type="submit" name="mod" value="continue"> to CFF on line tickets
</p>
</form>

<!-- start menu column -->
<TMPL_INCLUDE NAME="leftmenu.tmpl">
<!-- end menu column -->

<TMPL_INCLUDE NAME="footer.tmpl">
