<TMPL_INCLUDE NAME="head.tmpl">


<!--
<div class="redborder">
<p>
<center><b>Le Ticketshop CFF est momentanément indisponible.</b></center>
<p></p>
Pour toute commande urgente, vous pouvez contacter le call center 
CFF au numéro de téléphone gratuit <b>0848 111 456</b>.
</p>
</div>
-->
<p>
A travers cette interface vous pouvez effectuer les commandes de billets CFF pour le personnel des unités
sous votre contrôle d'accréditation.
<p>Il faut disposer du droit <b>billets CFF</b> ou du rôle de responsable administratif (<b>respadmin</b>) pour l'accès.
<br>
Veuillez contacter votre responsable accréditation pour plus de détails.</p>
<p>Effectuer le <a href="<TMPL_VAR NAME="spathMe">/main?lang=fr"><img src="/images/leftarrow.gif" border="0" align="middle"> <b>login</b></a> pour l'accès à l'application</p>

<!--
<hr>
<div style="border:solid 1px; padding:2px; border: 1px solid red;">
<b>Problèmes Ticketshop</b><br>

Suite à un problème technique sur le site Ticket Shop mis à disposition par les CFF, l'accès à l'application « Commande de billets CFF » est indisponible.<br>
Nous vous tiendrons informés ultérieurement du rétablissement du service.
<br><br>
Les billets urgents peuvent être commandés à <b>Brigue au 0848 111 456</b> par les personnes qui possèdent les accès sur le Ticket shop.
<br><br>
En vous remerciant pour votre compréhension.
</div>
-->


<TMPL_INCLUDE NAME="leftmenu.tmpl">
<!-- end menu column -->

<TMPL_INCLUDE NAME="footer.tmpl">
