</div> <!-- main-content -->


<div class="col-md-12" id="footer"> 

<hr>
<TMPL_IF NAME="sID">
	user : <TMPL_VAR NAME="sPrenom"> <TMPL_VAR NAME="sNom">, 
</TMPL_IF>
	<span class="copyright">&copy; 2010 EPFL tous droits réservés </span>
	<a  class="icon icon-before-link icon-arrow-head-right" href="mailto:webmaster@epfl.ch">Contact</a> 
	<a  class="icon icon-before-link icon-arrow-head-right" href="http://www.epfl.ch/accessibility.en.shtml">Accessibilité</a> 

</div> 

</div>
</div>

</body>
</html>