<!-- private/tmpl/footer.tmpl -->
</div> <!-- main-content -->

<div class="col-md-12" id="footer"> 

<hr>
<TMPL_IF NAME="sID">
	user : <TMPL_VAR NAME="sLoginPrenom"> <TMPL_VAR NAME="sLoginNom">, 
</TMPL_IF>
	<span class="copyright">&copy; 2010 EPFL <TMPL_IF NAME=sLangFR>tous droits réservés<TMPL_ELSE>all right reserved</TMPL_IF> </span>
	<a  class="icon icon-before-link icon-arrow-head-right" href="mailto:1234@epfl.ch">Contact</a> 
	<a  class="icon icon-before-link icon-arrow-head-right" href="http://www.epfl.ch/accessibility.en.shtml">Accessibilité</a> 

</div> 

</div>
</div>

</body>
</html>
