<TMPL_INCLUDE NAME="head.tmpl">
<!-- private/tmpl/go.tmpl -->

<TMPL_IF NAME=sMsg>
	<p><TMPL_VAR NAME=sMsg></p>
	<hr>
</TMPL_IF>

<table width="100%" border="0" cellspacing="0" cellpadding="3">
  <tr valign="top">
  
<!-- start menu column -->
<TMPL_INCLUDE NAME="leftmenu.tmpl">
<!-- end menu column -->

<td>
<TMPL_VAR NAME=sCFF>
</td>

 </tr>	
</table>

<TMPL_INCLUDE NAME="footer.tmpl">
