<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Billets CFF</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="stylesheet" href="/extra/css/bootstrap.min.css">
<link rel="stylesheet" href="/extra/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/extra/css/main.css">

<link rel="stylesheet" href="/extra/css/jquery-ui.min.css">
<link rel="stylesheet" href="/extra/css/jquery-ui.structure.min.css">
<link rel="stylesheet" href="/extra/css/jquery-ui.theme.min.css">

<link rel="stylesheet" href="/extra/css/cff.css">
<script src="/extra/js/cff.js" type="text/javascript"></script>

</head>

<body <TMPL_VAR NAME="sOnLoad">>

<div class="content-wrapper">

	<div class="container">
		<div class="row">
			<header>
			<div class="col-md-12">
				<a href="http://www.epfl.ch" title="Page d'accueil de l'EPFL"><img src="https://www.epfl.ch/img/epfl_small.png"></a>
				<p class="header-title">Ticketshop EPFL</span></p>
			</div>
			</header>
		</div>
		<div class="col-md-12" style="text-align: right;">
			<a href="<TMPL_VAR NAME="sPathMe">/main?lang=en">English</a> / 
			Français
		</div>
	</div>

	<div class="container">
	<div class="row">
		<div class="col-md-8">
		<h1 style="margin-top: -5px;">Commande de billets CFF en ligne</h1>
