<!doctype html>
<html lang="<TMPL_VAR NAME=sLang>">
<head>
<title>Ticketshop EPFL<TMPL_IF NAME=sENVProd><TMPL_ELSE> (<TMPL_VAR NAME=sENV>)</TMPL_IF></title>
<meta charset="utf-8"/>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="EPFL <TMPL_IF NAME=sLangFR>Commande de billets CFF en ligne<TMPL_ELSE>Online CFF Tickets Order</TMPL_IF>">
<meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="stylesheet" href="/extra/css/bootstrap.min.css">
<link rel="stylesheet" href="/extra/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/extra/css/main.css">

<link rel="stylesheet" href="/extra/css/jquery-ui.min.css">
<link rel="stylesheet" href="/extra/css/jquery-ui.structure.min.css">
<link rel="stylesheet" href="/extra/css/jquery-ui.theme.min.css">

<link rel="stylesheet" href="/extra/css/cff.css">
<script src="/extra/js/cff.js" type="text/javascript"></script>

</head>

<body <TMPL_VAR NAME="sOnLoad">>
<!-- private/tmpl/head.tmpl -->
<div class="content-wrapper">

	<div class="container" style="margin-bottom: 20px;">
		<div class="row">
			<header>
			<div class="col-md-12">
				<a href="http://www.epfl.ch" title="EPFL"><img src="https://www.epfl.ch/img/epfl_small.png"></a>
				<p class="header-title">Ticketshop EPFL</span></p>

				<nav class="nav-lang nav-lang-short ml-auto pr-lg-5" style="float: right; color: red;">
					<ul style="list-style-type: none;">
					<li style="display: inline;">
					<TMPL_IF NAME=sLangFR>
						<a href="<TMPL_VAR NAME=sPathMe>/<TMPL_VAR NAME=sPathInfo>?lang=en" class="change_lang_fr">EN</a> <span aria-label="Français" class="active change_lang_en">FR</span>
					<TMPL_ELSE>
						<span aria-label="Français" class="active change_lang_en">EN</span> <a href="<TMPL_VAR NAME=sPathMe>/<TMPL_VAR NAME=sPathInfo>?lang=fr">FR</a>
					</TMPL_IF>
					</li>
					</ul>
				</nav>
			</div>
			</header>
		</div>
	</div>

	<div class="container">
	<div class="row">
		<div class="col-md-8">
		<h1 style="margin-top: -5px;">
			<TMPL_IF NAME=sLangFR>Commande de billets CFF en ligne
			<TMPL_ELSE>Online CFF Tickets Order
			</TMPL_IF>
		</h1>
