<TMPL_INCLUDE NAME="head.tmpl">

<TMPL_IF NAME=sErrMsg>
  <p class=redborder align=center>  <TMPL_VAR NAME="sErrMsg"></p>
<TMPL_ELSE>

		<div class="col-md-12" >
			<h3>Déplacement avec dossier de voyage dans SESAME</h3>
			<form name="form" method="post" action="<TMPL_VAR NAME=sPathMe>/main" style="margin-top: 20px;">
			<h4>Bénéficiaire du voyage</h4>
			Recherche par nom ou sciper : <input name="person" >
			<input type="hidden" name="op" value="search"> 
			<input type="submit" name="go" value="continuer"> 
			</form>
			<hr>
		</div>
		
		<TMPL_IF NAME="sPersonsLoop">
			<div class="col-md-12" >
				<h3>Recherche de collaborateurs</h3>
				<table>
				<TMPL_LOOP NAME="sPersonsLoop">
					<tr><td><a href="<TMPL_VAR NAME=url>/main?sciper=<TMPL_VAR NAME=sciper>&op=found"><TMPL_VAR NAME="name"></a>
				</TMPL_LOOP>
				</table>
			</div>
		</TMPL_IF>

		<form id="form1" name="form1" method="post" action="<TMPL_VAR NAME=sPathMe>/go" style="margin-top: 20px;">
		<TMPL_IF NAME="sFound">
			<div class="col-md-12" >
				<h4>Voyage pour <TMPL_VAR NAME=sPersName></h4>
				<TMPL_IF NAME="sHasTravelNb">
					<div class="row" style="margin-bottom: 10px;">
						<div class="col-md-12" >
							Sélectionner un voyage planifié
						</div>
						<div class="col-md-12" >
							<select name="sNoVoyage">
							<TMPL_LOOP NAME=sTravels>
								<option value="<TMPL_VAR NAME=requestID>:<TMPL_VAR NAME=concatFunds>">dest : <TMPL_VAR NAME="destination">, dates : <TMPL_VAR NAME="dates">, fds : <TMPL_VAR NAME="concatFunds"></option>
							</TMPL_LOOP>
							</select>
							
						</div>
					</div>

				<TMPL_ELSE>
					<span style="color: #ff0000;">Aucun numéro de dossier de voyage</span>
					<p>
					Vous pouvez effectuer une commande en choisissant un No. de fond des Centres Financiers  ci-dessous :
					</p>
					<h4>Voyage sans dossier actif</h4>
					<div class="row" style="margin-bottom: 10px;">
						<div class="col-md-5" >
							Sélectionner un Centre Financier 
						</div>
						<div class="col-md-7" >
							<TMPL_VAR NAME=sCF>
						</div>
					</div>

					<div class="row" style="margin-bottom: 10px;">
						<div class="col-md-5" >
							Sélectionner un fond
						</div>
						<div class="col-md-7" >
							<TMPL_VAR NAME=sFonds>
						</div>
					</div>

					<div class="row" style="margin-bottom: 10px;">
						<div class="col-md-5" >
							Numéro du voyage
						</div>
						<div class="col-md-7" >
							<input name="sNoVoyage">
						</div>
					</div>

				</TMPL_IF>
		
			</div>		
		<TMPL_ELSE>
			<div class="col-md-12" id="choix_cf" style="margin-top: 20px; display: block;">
				ou
				<h4>Autres cas (Notes de frais dans I-monitor ou hors voyage)</h4>

				<div class="row" style="margin-bottom: 10px;">
					<div class="col-md-5" >
						Sélectionner un Centre Financier 
					</div>
					<div class="col-md-7" >
						<TMPL_VAR NAME=sCF>
					</div>
				</div>

				<div class="row" style="margin-bottom: 10px;">
					<div class="col-md-5" >
						Sélectionner un fond
					</div>
					<div class="col-md-7" >
						<TMPL_VAR NAME=sFonds>
					</div>
				</div>

<!--
				<div class="row" style="margin-bottom: 10px;">
					<div class="col-md-5" >
						Numéro du voyage
					</div>
					<div class="col-md-7" >
						<input name="sNoVoyage">
					</div>
				</div>
-->	 
			</div>
		</TMPL_IF>		

		<div class="col-md-12" style="margin-top: 20px; ">
			<div class="col-md-8">
			<p>
			<input type="submit" name="mod" value="Continuer"> vers la commande de billets CFF en ligne
			</p>
			</div>
			<div class="col-md-4">
			<p>
			<a href="#" class="icon icon-before-link icon-arrow-head-right" onclick="location.href='<TMPL_VAR NAME=sPathMe>/main';" >Annuler cette requête</a>
			</p>
			</div>
		</div>
		
	</form>

</TMPL_IF>

<TMPL_INCLUDE NAME="leftmenu.tmpl">
<!-- end menu column -->

<TMPL_INCLUDE NAME="footer.tmpl">
