<TMPL_INCLUDE NAME="head.tmpl">
<!-- private/tmpl/main.tmpl -->

<TMPL_IF NAME=sErrMsg>
  <p class=redborder align=center>  <TMPL_VAR NAME="sErrMsg"></p>
<TMPL_ELSE>

			<div class="col-md-12" >
				<form name="form" method="post" action="<TMPL_VAR NAME=sPathMe>/main?lang=<TMPL_VAR NAME=sLang>" style="margin-top: 20px;">
				<h4><TMPL_VAR NAME=benef_label></h4>
				<TMPL_VAR NAME=search_label> : <input name="person" >
				<input type="hidden" name="op" value="search"> 
				<input type="submit" name="go" value="<TMPL_VAR NAME=continue_label>"> 
				</form>
				<hr>
			</div>

			<TMPL_IF NAME="sPersonsLoop">
				<div class="col-md-12" >
					<h3><TMPL_VAR NAME=results_label></h3>
					<table>
					<TMPL_LOOP NAME="sPersonsLoop">
						<tr><td><a href="<TMPL_VAR NAME=url>/main?sciper=<TMPL_VAR NAME=sciper>&op=found&lang=<TMPL_VAR NAME=lang>"><TMPL_VAR NAME="name"></a>
					</TMPL_LOOP>
					</table>
				</div>
			<TMPL_ELSE>
				<form id="form1" name="form1" method="post" action="<TMPL_VAR NAME=sPathMe>/go" style="margin-top: 20px;" >
				<input name="goto" id="goto" type="hidden" >

				<TMPL_IF NAME=sPersSciper>
						<input name="scipertodo" type="hidden" value="<TMPL_VAR NAME=sPersSciper>">

						<div class="col-md-12"  >
							<h3><TMPL_VAR NAME=travel_for_label> <TMPL_VAR NAME=sPersName></h3>

							<TMPL_IF NAME="sHasTravelNb">
								<div class="col-md-12" style="margin-bottom: 10px;">
									<h4><TMPL_VAR NAME=selecttravel_label></h4>
									<div class="col-md-12" >
										<select name="sNoVoyage" id="sNoVoyage">
											<option value="" selected><TMPL_VAR NAME=choose_label></option>
										<TMPL_LOOP NAME=sTravels>
											<option value="<TMPL_VAR NAME=requestID>:<TMPL_VAR NAME=concatFunds>"><TMPL_VAR NAME="destination">, Dates : <TMPL_VAR NAME="dates">, Funds: <TMPL_VAR NAME="concatFunds"></option>
										</TMPL_LOOP>
										</select>
									</div>
								</div>

								<hr>
							
							<TMPL_ELSE>
								No travel dossier found
								<TMPL_INCLUDE NAME=no_dossier.tmpl>
							</TMPL_IF>
						</div>

				</TMPL_IF>

			</TMPL_IF>

<!--	 -->	

			<TMPL_UNLESS NAME="sPersonsLoop">
				<TMPL_UNLESS NAME="sPersSciper">
					<TMPL_INCLUDE NAME=no_dossier.tmpl>
				</TMPL_UNLESS>
			</TMPL_UNLESS>

			<TMPL_UNLESS NAME="sPersonsLoop">
				<TMPL_INCLUDE NAME=buttons.tmpl>
			</TMPL_UNLESS>

		</form>

		<p>
		<a href="#" class="icon icon-before-link icon-arrow-head-right" onclick="
			location.href='<TMPL_VAR NAME=sPathMe>/main?lang=<TMPL_VAR NAME=sLang>';
		" ><TMPL_VAR NAME=cancel_label></a>
		</p>


</TMPL_IF>

<TMPL_INCLUDE NAME="leftmenu.tmpl">
<!-- end menu column -->

<TMPL_INCLUDE NAME="footer.tmpl">
