<TMPL_INCLUDE NAME="head.tmpl">

<TMPL_IF NAME=sErrMsg>
  <p class=redborder align=center>  <TMPL_VAR NAME="sErrMsg"></p>
<TMPL_ELSE>

	<form id="form1" name="form1" method="post" action="" style="margin-top: 20px;">
	<div class="row">

		<div class="col-md-12" >
			<h4>Bénéficiaire du voyage</h4>
			recherche par nom ou sciper : <input name="person" >
			<input type="hidden" name="op" value="search"> 
			<input type="submit" name="go" value="continuer"> 
		</div>
	</div>
	</form>

</TMPL_IF>

<TMPL_INCLUDE NAME="leftmenu.tmpl">
<!-- end menu column -->

<TMPL_INCLUDE NAME="footer.tmpl">
