</div>			<!-- content	-->

<div  class="right-col">

   <table width="100%" cellpadding="3" cellspacing="0" border="0">
   <tr valign="top" align="left">
   <td>

   <!-- start links menu -->
   <table width="100%" border="0" cellspacing="2" cellpadding="0">
   <tr>
   <td bgcolor="FF0000">
   <img src="http://www.epfl.ch/tools/label.php?s=14&label=LIENS+UTILES&BG=FF0000">
   </td>
   </tr>
   <tr>
    <td>
     <br> 
     <a href="http://jahia-prod.epfl.ch/files/content/sites/travel/files/Documents/TicketshopAideEPFL.pdf"
     target="_blank">Ticketshop : aide EPFL</a><br>

     <a href="http://www.cff.ch/voyages-d-affaires/businesstravel/questions.html"
     target="_blank">Ticketshop : modes d'emploi</a><br> 

<!--     
     <a href="http://ditdevsrv4.epfl.ch/cff/docs/Remboursement.pdf"
     target="_blank">Formulaire de remboursement</a>
-->	 
	<a href="http://www.cff.ch/voyages-d-affaires/businesstravel/questions/remboursement-online-ticket.html">Remboursement d'OnlineTickets suisses</a><br>
	<a href="http://www.cff.ch/voyages-d-affaires/businesstravel/questions/remboursement-mobile-ticket.html">Remboursement de MobileTickets suisses</a><br>
	<a href="https://www.sbb.ch/fr/voyages-d-affaires/businesstravel/questions.html?WT.ac=linklistteaser-ts-faq-b2b-default">Remboursement d'OnlineTickets internationaux</b>

    </td>
   </tr>
   </table>
   <!-- end links menu -->

   </tr>
   </table>

<hr>

<h4>FAQs</h4>
<li><b>Où trouver les informations sur le remboursement des billets de trains ?</b></li><br>
<ul>Les informations  sur le remboursement des billets de train achetés auprès des CFF (Ticketshop ou centrale téléphonique de Brig) se trouvent à la page <a href=http://voyages.epfl.ch/ticketshop target=_blank><b>Ticketshop</b></a> du site <b>voyages.epfl.ch</b>.
</ul>
<hr>
<li><b>Mon compte CFF est bloqué? Que faire?</b></li><br>
<ul>L'accès à l'application de commande de billets CFF en ligne peut être vérouillé après plusieurs échecs
successifs. <b>Ce problème n'est pas lié à l'identification Gaspar/Tequila, donc il n'y a pas besoin de changer
votre mot de passe Gaspar.</b><br>
Veuillez contacter <a href=mailto:1234@epfl.ch><b>le Service Desk</b></a>.
</ul>
<hr>
<li><b>Je suis accréditeur pour l'unité XYZ, mais je ne peux pas donner le droit <i>billets CFF</i> </b></li>
<ul>
Le droit <b>billets CFF</b> peut être donné seulement par les personnes qui ont le rôle <b>responsable
administratif</b>
</ul>
<hr>
<li><b>J'ai le rôle responsable accréditation mais je ne peux pas donner le droit <i>billets
CFF</i></b></li>
<ul>Un responsable accréditation peut donner le rôle <b>responsable administratif</b> qui permet la
gestion du droit <b>billets CFF</b>
</ul>

</div>